.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--h1-font-size) - 100px * 2);
}

.main > div {
  background-color: var(--color-silver);
  min-width: 300px;
  width: 25%;
  max-width: 600px;
  padding: 30px 20px;
}

.main > div > h2 {
  text-align: center;
}

.main > div > h4 {
  text-align: center;
}

.main > div > form {
  margin-top: 30px;
}

.main button {
  display: block;
  margin: 50px auto 0;
}
